header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 16px 20px 36px;
  font-family: var(--font-mono);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: linear-gradient(to bottom, var(--color-bg) 40%, transparent 100%);
    mask-image: linear-gradient(to bottom,
        black 0%,
        black 30%,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0.3) 70%,
        transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom,
        black 0%,
        black 30%,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0.3) 70%,
        transparent 100%);
    pointer-events: none;
    z-index: -1;
  }

  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      padding: 6px 14px;
      border-radius: 9999px;

      background: var(--color-link-btn);
      border-top: 1px solid var(--color-border-top);
      border-bottom: 1px solid var(--color-border-bottom);
      border-inline: 1px solid var(--color-border-side);

      font-size: 11px;
      color: var(--color-muted);
      cursor: pointer;
      transition: color 0.2s;

      &:hover,
      &:active {
        color: var(--color-peach-light);
      }

    }
  }
}
