---
import Layout from "$components/layout.astro";
---

<Layout title="about - ama.yvas.me">
  <Fragment slot="head-content">
    <meta
      name="description"
      content="the why and the stack"
    />
    <meta
      property="og:image"
      content={new URL("/about/og.png", Astro.site).href}
    />
    <meta
      name="twitter:image"
      content={new URL("/about/og.png", Astro.site).href}
    />
  </Fragment>

  <h1>about<br /><span>this site.</span></h1>

  <section>
    <h2>why does this exist?</h2>
    <p>me bored :P</p>
  </section>
</Layout>
