---
import { env } from "cloudflare:workers";
import { and, eq } from "drizzle-orm";

import AnswerBlock from "$components/answer-block.astro";
import Layout from "$components/layout.astro";

import { getDb } from "$lib/db";
import { Question } from "$lib/db/schema";

import "$styles/pages/index.css";

const { id } = Astro.params;

const db = getDb(env.D1);

if (!id) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const [question] = await db
  .select()
  .from(Question)
  .where(and(eq(Question.id, id), eq(Question.published, true)))
  .limit(1);

if (!question) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout title={`${question.body} - ama.yvas.me`}>
  <Fragment slot="head-content">
    <meta
      property="og:image"
      content={new URL(`/q/${id}/og.png`, Astro.site).href}
    />
    <meta
      property="og:image:width"
      content="1200"
    />
    <meta
      property="og:image:height"
      content="630"
    />
    <meta
      name="twitter:image"
      content={new URL(`/q/${id}/og.png`, Astro.site).href}
    />
  </Fragment>

  <h1 class="heading">someone<br /><span>asked.</span></h1>

  <AnswerBlock question={question} />
</Layout>
