.content {
  background-color: var(--color-green-card);
  border-radius: var(--border-radius-outer);
  padding: 24px;
  text-align: center;
  backdrop-filter: blur(2px);

  p {
    &:first-child {
      font-size: 24px;
    }

    &:nth-child(2) {
      color: var(--color-peach);
    }

    a {
      color: var(--color-peach);

      &:hover {
        color: var(--color-peach-light);
      }
    }
  }
}
