---
import Layout from "$components/layout.astro";

export const prerender = true;
---

<Layout>
  <h2>404 - Page Not Found</h2>
  <p>the page that u requested does not exist.</p>
  <p>Let's get u back to <a href="/">home</a></p>
</Layout>
