---
import Layout from "$components/layout.astro";

import "$styles/pages/404.css";

export const prerender = true;
---

<Layout title="not found - ama.yvas.me">
  <Fragment slot="head-content">
    <meta
      property="og:image"
      content={new URL("/404/og.png", Astro.site).href}
    />
    <meta
      property="og:image:width"
      content="1200"
    />
    <meta
      property="og:image:height"
      content="630"
    />
    <meta
      name="twitter:image"
      content={new URL("/404/og.png", Astro.site).href}
    />
  </Fragment>

  <h1>
    404 <br />
    <span>Page Not Found</span>
  </h1>
  <main class="content">
    <p>😅</p>
    <p>the page that your requested does not exist.</p>
    <p>let's get u back to <a href="/">home</a></p>
  </main>
</Layout>
