---
import Layout from "$components/layout.astro";
---

<Layout title="about - ama.yvas.me">
  <h1>about<br /><span>this site.</span></h1>

  <section>
    <h2>why does this exist?</h2>
    <p>me bored :P</p>
  </section>
</Layout>
