---
import { env } from "cloudflare:workers";
import { desc, eq } from "drizzle-orm";

import AnswerBlock from "$components/answer-block.astro";
import Layout from "$components/layout.astro";
import QuestionForm from "$components/question-form.astro";

import { getDb } from "$lib/db";
import { Question } from "$lib/db/schema";

import "$styles/pages/index.css";

const db = getDb(env.D1);

const questions = await db
  .select()
  .from(Question)
  .where(eq(Question.published, true))
  .orderBy(desc(Question.askedAt))
  .all();
---

<Layout title="ask me anything - ama.yvas.me">
  <Fragment slot="head-content">
    <meta
      property="og:image"
      content={new URL("/og.png", Astro.site).href}
    />
    <meta
      property="og:image:width"
      content="1200"
    />
    <meta
      property="og:image:height"
      content="630"
    />
    <meta
      name="twitter:image"
      content={new URL("/og.png", Astro.site).href}
    />
  </Fragment>

  <h1 class="heading">ask me<br /><span>anything.</span></h1>

  <QuestionForm />

  <section class="qnas">
    <h2>Answered</h2>

    <ul>
      {questions.length === 0 ? (
      <li class="no-questions">
        <p>😄</p>
        <p>No answered questions found!</p>
        <p>Check back in a while!</p>
      </li>
      ):(questions.map(q => (
        <li>
          <AnswerBlock question={q} />
        </li>
      )))}
    </ul>
  </section>
</Layout>
