---
import "$styles/components/footer.css";
---

<footer>
  <p>
    made by
    <a
      href="https://yvas.me"
      target="_blank"
      rel="noopener roferrer"
      >.savy</a
    >
  </p>
  <p>
    source available at
    <a
      href="https://github.com/Savy011/ama-dot-me"
      target="_blank"
      rel="noopener roferrer"
      >github</a
    >
  </p>
</footer>
