---
import "$styles/components/header.css";
---

<header>
  <nav>
    <a
      href="https://yvas.me"
      target="_blank"
      rel="noopener roferrer"
      >.savy</a
    >
    <a href="/">home</a>
    <a href="/colophon">colophon</a>
  </nav>

  <div class="progressive-blur-container">
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="gradient"></div>
  </div>
</header>
