---
import "$styles/components/header.css";
---

<header class="mobile-header">
  <div class="mobile-header-bg"></div>
  <nav>
    <a
      href="https://yvas.me"
      target="_blank"
      rel="noopener roferrer"
      ><span class="name-dot"></span>.savy</a
    >
    <a href="/">home</a>
    <a href="/colophon">colophon</a>
  </nav>
</header>
