---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import Header from "$components/header.astro";
import Footer from "$components/footer.astro";

import "$styles/reset.css";
import "$styles/main.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>{title}</title>
    <link
      rel="preconnect"
      href="https://challenges.cloudflare.com"
    />

    <script
      is:inline
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
      data-astro-rerun
    ></script>

    <script>
      import htmx from "htmx.org";
      import "htmx-ext-response-targets";

      window.htmx = htmx;

      document.addEventListener("astro:after-swap", () => {
        htmx.process(document.body);
      });
    </script>

    <Font cssVariable="--font-mono" />
    <Font cssVariable="--font-serif" />
    <Font cssVariable="--font-script" />

    <ClientRouter />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <meta
      name="author"
      content=".savy"
    />
    <link
      rel="canonical"
      href={Astro.site}
    />

    <meta
      property="og:site_name"
      content="ama.yvas.me"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content={Astro.site}
    />

    <meta
      name="twitter:card"
      content="summary_large_image"
    />
    <meta
      name="twitter:site"
      content="@Savy011"
    />
    <meta
      property="og:image:width"
      content="1200"
    />
    <meta
      property="og:image:height"
      content="630"
    />

    <slot name="head-content" />
  </head>
  <body hx-ext="response-targets">
    <div class="wrapper">
      <Header />

      <slot transition:animate="fade" />

      <Footer />
    </div>
  </body>
</html>
