---
import { env } from "cloudflare:workers";

import "$styles/components/question-form.css";
---

<section id="question-form">
  <label for="question">drop your question here!</label>

  <form
    hx-post="/api/ask"
    hx-target="#question-form"
    hx-target-400="#form-error"
    hx-target-401="#form-error"
    hx-swap="innerHTML"
    x-data="{ token: '' }"
    @turnstile-success.window="token = $event.detail"
    @turnstile-error.window="token = ''"
  >
    <textarea
      hx-preserve
      id="question"
      name="question"
      rows="4"
      placeholder="what do you want to ask me?"
    ></textarea>

    <fieldset style="border: none; padding: 0; margin-bottom: -12px">
      <legend class="sr-only">spam verficiation</legend>
      <div
        class="cf-turnstile"
        data-sitekey={env.TURNSTILE_SITE_KEY}
        data-appearance="interaction-only"
        data-response-field-name="token"
        data-callback="onTurnstileSuccess"
        data-error-callback="onTurnstileError"
        data-expired-callback="onTurnstileError"
        data-timeout-callback="onTurnstileError"
      ></div>
    </fieldset>

    <div
      id="form-error"
      role="alert"
      aria-live="polite"
    ></div>

    <button
      type="submit"
      :disabled="!token"
      x-text="token !== '' ? 'Submit' : 'checking if you are a bot...'"
    >
      Submit
    </button>
  </form>
</section>

<script is:inline>
  function onTurnstileSuccess(token) {
    window.dispatchEvent(new CustomEvent("turnstile-success", { detail: token }));
  }

  function onTurnstileError() {
    window.dispatchEvent(new CustomEvent("turnstile-error"));
  }

  document.addEventListener("astro:before-swap", () => {
    const el = document.querySelector(".cf-turnstile");
    if (el && window.turnstile) {
      turnstile.remove(el);
    }
  })

  document.addEventListener("astro:after-swap", () => {
    const el = document.querySelector(".cf-turnstile");
    if (el && window.turnstile) {
      turnstile.render(el);
    }
  })
</script>
