---
import { env } from "cloudflare:workers";

import "$styles/components/question-form.css";
---

<section id="question-form">
  <label for="question">drop your question here!</label>

  <form
    hx-post="/api/ask"
    hx-target="#question-form"
    hx-target-400="#form-error"
    hx-target-401="#form-error"
    hx-swap="innerHTML"
  >
    <textarea
      hx-preserve
      id="question"
      name="question"
      rows="4"
      placeholder="what do you want to ask me?"
    ></textarea>

    <fieldset style="border: none; padding: 0; margin-bottom: -12px">
      <legend class="sr-only">spam verficiation</legend>
      <div
        class="cf-turnstile"
        data-sitekey={env.TURNSTILE_SITE_KEY}
        data-appearance="interaction-only"
        data-response-field-name="token"
      ></div>
    </fieldset>

    <div
      id="form-error"
      role="alert"
      aria-live="polite"
    ></div>

    <button type="submit">Submit</button>
  </form>
</section>
